
/* -------------  CSS Loader  ----------- */
body{
	background-image:url('bg.jpg');
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(47,23,15,.65))),url('bg.jpg');
	background:linear-gradient(rgba(47,23,15,.65)),url('bg.jpg');
	background-attachment:fixed;
	background-position:center;
	background-size:cover
}
.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	
	z-index: 10;
	opacity: 0.7;
}
.loader{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border:10px solid #333;
	position: relative;
	margin: 0 auto;
	top:30%;
	animation:loader 2s linear infinite;
}
@keyframes loader{
	50% {
		opacity: 0.5;
	}
	100% {
		transform:rotate(360deg);
	}
}
.loader:after{
	content: "";
    width: 35px;
    height: 35px;
    background: #333;
    position: absolute;
    border-radius: 50%;
    top: -20px;
    left: 55px;
}
.loader:before{
	content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333;
    position: absolute;
    transform: rotate(-90deg);
    top: -10px;
    left: 39px;

}

/* --------- CSS Loader End Here ------------*/
